html {
font-size:62.5%;
}

body {
overflow-x: hidden;
font-size: 1.4rem;

}

header {
position:fixed;
z-index: 9999;
}


nav {
border-bottom: 1px solid #fff;
width: 100%;
padding:5px;
position:fixed;
background:#45caa5;
top:0;
left:0;
}

nav ul {
padding: 15px 0;
text-align: center;
margin: 0;
 font-size:16px;
}

nav li {
text-align: center;
margin-right: 20px;
display: inline-block;
}

nav li a {
text-decoration: none;
color: #fff;
text-transform: uppercase;
}

nav li a:hover {
border: 1px solid #fff;
border-radius: 5px;
padding: 4px;
}

section {

padding: 100px; /*Rapprocher le texte */
margin-left:-100px; /* cacher les espaces causé par la rotation */
margin-right:-100px;
/* Rotation */
-ms-transform: rotate(-3deg); /* IE 9 */
-webkit-transform: rotate(-3deg); /* Safari */
transform: rotate(-3deg);
}

section h1 {
text-align: center;
color: #45caa5;
text-transform: uppercase;
letter-spacing: 2px;
}

h1,.box, #os,.ficheposte, .fichesformations{
 transform:rotate(3deg);
}

#about{
padding: 5%;
height: 30vh;
text-align: center;
background-color: #45caa5;
color:#fff;
background-blend-mode: multiply; /* Pour mixer couleurs et photos */
background-image: url(../images/dev.jpg);
}

#about h1 {
font-weight: bold;
font-family: DejaVu Sans Mono, monospace;
text-transform: uppercase;
font-size: 3rem;
text-shadow: 3px 2px #011831;
color: #FFF;
padding-top: 100px;
}

#about h2 {
font-family: 'open sans',arial,sans-serif;
text-transform: uppercase;
letter-spacing: 0.3em;
margin-top: 5px;
font-size: 1.5rem;
transform: rotate(3deg);
}
.trait {
padding-bottom: 30px;
border-bottom: 1px solid #fff;
}



#competences {

height: 700px;

}
#competences h2 {
font-size: 22px;
}

.box {
text-align: center;
margin-top: 150px;
}


.skills {
width: 285px;
height: 210px;
margin-right: 70px;
display: inline-block;
vertical-align: middle;
background-color: #F2F2F2;
padding-top: 20px;
border-bottom: 2px solid #45caa5;
color: #0f2339;
box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.3);
border-radius: 10px;

}
#os {
text-align: center;
padding-top: 50px;
}


#os ul li {
margin-right: 20px;
display: inline-block;
text-align: center;
}



#experiences {
/*height: 700px; */
background-color: #F2F2F2;
padding: 50px;
}
#experiences h1 {
  margin-bottom: 50px;

}

.ficheposte{
  text-align: center;
  margin: 50px;
}
.date {
width: 100px;
color: #fff;
background-color: #45caa5;
padding: 2px;
display: inline-block;
vertical-align: top;
font-weight: bold;
border-radius: 5px;
}

.poste {
background-color: #fff;
display: inline-block;
color: #0f2339;
width: 800px;
vertical-align: top;
text-align: left;
padding: 15px;
margin-left: 10px;
/*box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.3);*/
border-radius: 20px;
border-top: 2px solid #45caa5;
}

.poste ul {
margin-left: 20px;
}
.poste li {
  list-style: circle;

}

.poste h2{
font-family: 'open sans',arial,sans-serif;
text-transform: uppercase;
font-size: 20px;
font-weight: bold;



}
.poste h3 {
color: #fff;
font-family: 'open sans',arial,sans-serif;
font-size: 16px;
}


#formations {
}

.fichesformations{
  text-align: center;
  margin-top: 100px;

}
.formation{
  margin-right:10px;
  padding: 15px;
  background-color: #F2F2F2;
  display: inline-block;
  color: #0f2339;
  border-radius: 20px;
  border-top: 2px solid #45caa5;
}



/*


#projets {
height: 600px;
background-color: #45caa5;
color: #FFF;
}

#projets h1 {
color: #fff;
}
*/


#contact {
height: 700px;
background-color: #45caa5;
transform: none;
}
#contact h1 {
color: #fff;
transform: none;
}

footer {
background-color: #e2e0e0;
height: 50px;
z-index: 9999;
}

footer p {
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  color: black;

}


@media screen and (max-width : 680px) {


.nav li {
display: block;
}
nav li:hover {
  background-color: #fff;
  width:100vw;

  }
 nav li a:hover {
  border: 0px;
  color: #45caa5;
  }

nav ul li, nav ul li a {
    padding: 10px 0px 10px 0px;
  }
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
